{% extends "base.html" %}

{% block header %}
    <h1>Home</h1>
{% endblock %}
{% block nav %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}
{% block main %}
    <p>Hi, {{ first_name }} {{ last_name }}, your username is {{ username }} and email is {{ email }}.</p>
    <hr />
    <form>
        <div class="form-grid">
            <label for="input">Input: </label>
            <input type="text" id="input" name="input2" required="" />
            <label for="task-list">Task List:</label>
            <select id="task-list">
                <option value="test">Tests</option>
            </select>
        </div>
        <button class="submit">Go</button>
    </form>
{% endblock %}
