html, body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Garamond, serif;
    background-image: url("desk.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

header > h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    max-width: 600px;
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
}

.plate {
    background-color: white;
    border-style: outset;
    border-width: 1px;
    padding: 1%;
}

.plate:not(:first-child) {
    margin-top: 0.5%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-gap: 2%; Doesn't work )-: perhaps set parent height */
    align-items: center;
}

.submit {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.form-grid + .submit {
    margin-top: 1%;
}

table.task-list {
    border-style: outset;
    border-width: 1px;
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Can't get it to only target tr's that are the direct child */
table.task-list tr:nth-of-type(odd) {
    background-color: beige;
}

/* Can't get it to only target tr's that are the direct child */
table.task-list tr:nth-of-type(even) {
    background-color: bisque;
}

table.task-list th, table.task-list td {
    border-style: inset;
    border-width: 1px;
}
