tr:nth-child(odd) {
    background-color: beige;
}

tr:nth-child(even) {
    background-color: bisque;
}

tr:first-child {
    background-color: lemonchiffon;
}

table {
    margin-left: auto;
    margin-right: auto;
}

html, body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    font-family: Garamond, serif;
    background-image: url("desk.png");
    background-size: 100% 100%;
    min-height: 100%;
    margin: 0;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

header h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    max-width: 600px;
    padding: 0.5%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.plate {
    background-color: white;
    border-style: outset;
    border-width: 1px;
    padding: 1%;
}

.plate:not(:first-child) {
    margin-top: 0.5%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.form-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-gap: 2%; Doesn't work )-: perhaps set parent height */
    align-items: center;
}

.submit {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.form-grid + .submit {
    margin-top: 1%;
}
