{% extends "base.html" %}

{% block header %}
    <h1>Home</h1>
{% endblock %}
{% block nav %}
    <li><a href="{{ url_for('login') }}">Log Out</a></li>
{% endblock %}
{% block main %}
    <p>Hi {{ session.first_name }} {{ session.last_name }}, your username is {{ session.username }} and your email is {{ session.email }}.</p>
    <hr />
    <form action="{{ url_for('home') }}" method="post">
        <div class="form-grid">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" name="task-list-id" maxlength="32" required="" />
        </div>
        <button class="submit" name="submit" value="create">Create Task List</button>
    </form>
    <hr />
    <form action="{{ url_for('home') }}" method="post">
        <div class="form-grid">
            <label for="task-lists">Task Lists:</label>
            <select id="task-lists" name="task-list-id">
                {% for name, id in pairs.items() %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="submit" name="submit" value="view">View Task List</button>
    </form>
{% endblock %}
