{% extends "base.html" %}

<!-- Header Plate -->
{% block header_plate %}
    <h1>Home</h1>
{% endblock %}

<!-- Main -->
{% block main %}
    <nav class="plate">
        <a href="{{ url_for('login') }}">Log Out</a>
    </nav>
    <p class="plate">Hi {{ session.first_name }} {{ session.last_name }}, your username is {{ session.username }} and your email is {{ session.email }}.</p>
    <form class="plate" action="{{ url_for('home') }}" method="post">
        <div class="fields">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" name="task-list-name" maxlength="32" required="" />
        </div>
        <div class="actions">
            <button class="larger" name="submit" value="create">Create Task List</button>
        </div>
    </form>
    <form class="plate" action="{{ url_for('home') }}" method="post">
        <div class="fields">
            <label for="task-lists">Task Lists:</label>
            <select id="task-lists" name="task-list-id" required="">
                {% for name, id in pairs.items() %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="actions">
            <button class="larger" name="submit" value="view">View Task List</button>
        </div>
    </form>
{% endblock %}
