{% extends "layout.html" %}

<!-- Header Plate -->
{% block header_plate %}
    <h1>Task List Selection</h1>
{% endblock %}

<!-- Main -->
{% block main %}
    <nav class="plate">
        <a href="{{ url_for('login') }}">Log Out</a>
    </nav>
    <p class="plate">
        Hello, {{ session.first_name }} {{ session.last_name }}. Your username is "{{ session.username }}" and your email is "{{ session.email }}".
    </p>
    <form class="plate" action="{{ url_for('home') }}" method="post">
        <div class="fields">
            <label for="available-task-lists">Task List:</label>
            <select id="available-task-lists" name="id" required="">
                {% for task_list in task_lists %}
                    <option value="{{ task_list['task_list_id'] }}">{{ task_list["name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="actions">
            <button class="larger" name="submit" value="view">View</button>
        </div>
    </form>
    <form class="plate" action="{{ url_for('home') }}" method="post">
        <div class="fields">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" name="name" maxlength="32" required="" />
        </div>
        <div class="actions">
            <button class="larger" name="submit" value="create">Create</button>
        </div>
    </form>
{% endblock %}
