{% extends "base.html" %}

<!-- Header Plate -->
{% block header_plate %}
    <h1>Login</h1>
{% endblock %}

<!-- Main -->
{% block main %}
    <nav class="plate">
        <a href="{{ url_for('login') }}">Log In</a>
        <a href="{{ url_for('register') }}">Register</a>
    </nav>
    {% if msg %}
    <p class="warning plate">
        {{ msg }}
    </p>
    {% endif %}
    <form class="plate" action="{{ url_for('login') }}" method="post">
        <div class="fields">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" maxlength="32" required="" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" maxlength="32" required="" />
        </div>
        <div class="actions">
            <button class="larger">Log In</button>
        </div>
    </form>
{% endblock %}
