{% extends "base.html" %}

<!-- Header Plate -->
{% block header_plate %}
    <h1>Registration</h1>
{% endblock %}

<!-- Main -->
{% block main %}
    <nav class="plate">
        <a href="{{ url_for('login') }}">Log In</a>
        <a href="{{ url_for('register') }}">Register</a>
    </nav>
    {% if msg %}
    <p class="warning plate">
        {{ msg }}
    </p>
    {% endif %}
    <form class="plate" action="{{ url_for('register') }}" method="post">
        <div class="fields">
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="first-name" maxlength="32" required="" />
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="last-name" maxlength="32" required="" />
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" maxlength="32" required="" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" maxlength="32" required="" />
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" maxlength="64" required="" />
        </div>
        <div class="actions">
            <button class="larger">Register</button>
        </div>
    </form>
{% endblock %}
