/* honeydew mistyrose khaki */

html {
    box-sizing: border-box;
    overflow: clip; /* INVESTIGATE */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    background-image: url("desk.png");
    background-size: 100% 100%;
    background-repeat: repeat;
    min-height: 100%; /* INVESTIGATE */
    padding-left: 37.5%;
    padding-right: 37.5%;
    padding-top: 2%;
    margin: 0;
}

header h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
}

.container {
    background-color: lightgray;
    border-style: outset;
    border-width: 10px;
    padding: 0.25%;
}

.plate {
    background-color: white;
    border-style: outset;
    border-width: 1px;
    padding: 1%;
}

.plate + .plate {
    margin-top: 1%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

/* .nav-list li { */
    /* width: 50%; */
    /* border-style: solid; */
    /* border-color: orange; */
    /* border-width: 1px; */
/* } */

/* .nav-list li a { */
    /* display: block; */
    /* width: 100%; */
    /* text-align: center; */
/* } */

.form-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-gap: 2%; Doesn't work )-: perhaps set parent height */
    align-items: center;
}

.submit {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.form-grid + .submit {
    margin-top: 1%;
}
